In [7]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from functions import *
import os
from dotenv import load_dotenv

In [8]:
load_dotenv()

username = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')

DATABASE_URI = f'mysql+pymysql://{username}:{password}@{host}/{db_name}'
engine = create_engine(DATABASE_URI)

In [9]:
df_may = rentals_month(engine, 5, 2005)
df_june = rentals_month(engine, 6, 2005)

print(df_may,df_june)

      rental_id         rental_date  customer_id
0             1 2005-05-24 22:53:30          130
1             2 2005-05-24 22:54:33          459
2             3 2005-05-24 23:03:39          408
3             4 2005-05-24 23:04:41          333
4             5 2005-05-24 23:05:21          222
...         ...                 ...          ...
1151       1153 2005-05-31 21:36:44          506
1152       1154 2005-05-31 21:42:09           59
1153       1155 2005-05-31 22:17:11          251
1154       1156 2005-05-31 22:37:34          106
1155       1157 2005-05-31 22:47:45           61

[1156 rows x 3 columns]       rental_id         rental_date  customer_id
0          1158 2005-06-14 22:53:33          416
1          1159 2005-06-14 22:55:13          516
2          1160 2005-06-14 23:00:34          239
3          1161 2005-06-14 23:07:08          285
4          1162 2005-06-14 23:09:38          310
...         ...                 ...          ...
2306       3465 2005-06-21 22:10:01          510
2307       3466 2005-06-21 22:13:33          226
2308       3467 2005-06-21 22:19:25          543
2309       3468 2005-06-21 22:43:45          100
2310       3469 2005-06-21 22:48:59          181

[2311 rows x 3 columns]

In [10]:
rentals_may = rental_count_month(df_may, 5, 2005)
rentals_june = rental_count_month(df_june, 6, 2005)

print(rentals_may, rentals_june)

     customer_id  rentals_05_2005
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]      customer_id  rentals_06_2005
0              1                7
1              2                1
2              3                4
3              4                6
4              5                5
..           ...              ...
585          595                2
586          596                2
587          597                3
588          598                1
589          599                4

[590 rows x 2 columns]

In [11]:
comparison_df = compare_rentals(rentals_may, rentals_june)

print(comparison_df)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0        -5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0        -2.0
3              4              0.0              6.0        -6.0
4              5              3.0              5.0        -2.0
..           ...              ...              ...         ...
593          595              1.0              2.0        -1.0
594          596              6.0              2.0         4.0
595          597              2.0              3.0        -1.0
596          598              0.0              1.0        -1.0
597          599              1.0              4.0        -3.0

[598 rows x 4 columns]